body{
    background-color: #f88396;
    background-image: url("2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#head{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-right: 10%;
    margin-top: 0;

}
.a{
    text-decoration:underline;
}
div#one{
    border-style:dashed ;
    border-color: deeppink;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
div#tow{
    width: 10%;
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 12px;
    height:200px;
    border-style: dashed;
    border-color: deeppink;
}
div#wuyong{
    position: absolute;
    width: 10%;
    right: 5%;
    top: 50%;
    border-style: dashed;
    border-color: deeppink;
    height: 200px;
    display: inline;
    font-size: 12px;
}
div#third{
    color: tan;
}
.b{
    color: red;
}
span{
    color: coral;
}
div#w{
    color: red;
}
div#sixth{
    color: #007e7e;
}
ul{
    float: left;
}