body{
    background: url("背景图2.jpg");
}

.button-style1 ,.button-style2{
    position:absolute;
    top:41%;
    opacity:1;
    z-index:100;
}
.button-style1 {
    position:absolute;
    left:20%;
    animation:btn1 15s;
}
.button-style2 {
    position:absolute;
    left:68%;
    animation:btn2 15s;
}
@keyframes btn1 {
    0% {
        opacity:0;
        left:43.5%;
    }
    70% {
        opacity:0;
        left:43.5%;
    }
    100% {
        opacity:1;
        left:20%;
    }
}
@-webkit-keyframes btn1 {
    0% {
        opacity:0;
        left:43.5%;
    }
    70% {
        opacity:0;
        left:43.5%;
    }
    100% {
        opacity:1;
        left:20%;
    }
}
@keyframes btn2 {
    0% {
        opacity:0;
        left:43.5%;
    }
    70% {
        opacity:0;
        left:43.5%;
    }
    100% {
        opacity:1;
        left:68%;
    }
}
@-webkit-keyframes btn2 {
    0% {
        opacity:0;
        left:43.5%;
    }
    70% {
        opacity:0;
        left:43.5%;
    }
    100% {
        opacity:1;
        left:68%;
    }
}
.lk1,.lk2 {
    text-decoration:none;
    font-family: Microsoft YaHei;
    color:#fff;
    transition:all 0.5s;
}
.link1,.link2 {
    width:170px;
    height:60px;
    border:2px solid #fff;
    -webkit-border:1px solid #fff;
    border-radius:30px;
    font-size: 23px;
    text-align:center;
    background: #ee9ca7;
    transition:all 0.8s;
}
.link2 {
    cursor:not-allowed;
}
.bt1,.bt2 {
    position:relative;
    top:22%;
    vertical-align:middle;
}

a.lk1:hover {
    color:#ee9ca7;
    transition:all 0.5s;
}
.link1:hover {
    background-color:#fff;
    background-color:rgba(255,255,255,0,2);
    border:2px solid #BBB;
    transition:all 0.8s;
}
a.lk2:hover {
    color:#ee9ca7;
    transition:all 0.5s;
}
.link2:hover {
    background-color:#fff;
    background-color:rgba(255,255,255,0,2);
    border:2px solid #BBB;
    transition:all 0.8s;

}
