body{
    padding: 0;
    margin: 0;
    font-size: small;
}
div#leave_word{
    background:url("背景图4.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height:100%;
    width:100%;
    padding: 0;
    margin: 0;
    position: absolute;
    overflow: hidden;
}
.ball{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 1;
    margin-left: -5px;
    opacity: 0;
}
.nav {

    width: 10px;
    height: 0;
    position: absolute;
    background: #ccc;
    left: 20%;
}
.ball2{
    width: 20px;
    height: 20px;
    background: url("背景图3.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 1;
    margin-left: -5px;
    opacity: 0;
    animation: threeball 300s linear;
    -webkit-animation: threeball 300s linear;
}
.z{
    font-size: 2.4em;
    font-family: 楷体;
    text-align: center;
}
.z2{
    font-size: 3em;
    font-family: 楷体;
}
#first .ball {
    animation: firstball 300s linear  ;
    -webkit-animation:firstball 300s linear   ;
}
#first .nav {
    animation: firstnav 300s linear  ;
    -webkit-animation: firstnav 300s linear  ;
}
#second.ball{
    animation: secondball 300s ;
    -webkit-animation: secondball 300s;
}
div#text1{
    position: absolute;
    align-content: center;
    width: 0;
    margin-left: 21%;
    top: 5%;
    border:solid #ee9ca7;
    height: 0;
    opacity: 0;
    animation: k1 300s;
    -webkit-animation: k1 300s;
}
#text1 p:nth-child(1){
    animation: p1 300s linear;
    -webkit-animation:p1 300s linear;
}
#text1 p:nth-child(2){
    animation: p2 300s linear;
    -webkit-animation:p2 300s linear;
}
#text1 p:nth-child(3){
     animation: p3 300s linear;
     -webkit-animation:p3 300s linear;
 }
#text1 p:nth-child(4){
      animation: p4 300s linear;
      -webkit-animation:p4 300s linear;
  }
#text1 p:nth-child(5){
       animation: p5 300s linear;
       -webkit-animation:p5 300s linear;
   }
#text1 p:nth-child(6){
        animation: p6 300s linear;
        -webkit-animation:p6 300s linear;
    }
#text1 p:nth-child(7){
         animation: p7 300s linear;
         -webkit-animation:p7 300s linear;
     }
#text2{
    position: absolute;
    align-content: center;
    width: 0;
    margin-left: 21%;
    top: 15%;
    border: dotted #ee9ca7;
    height: 0;
    opacity: 0;
    animation: k2 300s;
    -webkit-animation: k2 300s;
}
#text2 p{
    opacity: 0;
    animation: p8 300s linear;
    -webkit-animation: p8 300s linear;
}
#text3{
    position: absolute;
    align-content: center;
    width: 0;
    margin-left: 21%;
    top: 25%;
    height:0;
    border: solid #ee9ca7;
    opacity: 0;
    animation: k3 300s;
    -webkit-animation: k3 300s;
}
#text3 p{
    opacity: 0;
    animation: p9 300s linear;
    -webkit-animation: p9 300s linear;
}
#second{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("背景图1.jpg");
    opacity: 0;
    animation: b1 300s;
    -webkit-animation: b1 300s;
}
#text4{
    position: absolute;
    top:1%;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 33%;
    border: solid deeppink;
    border-radius:15px ;
    animation: k4 300s;
    -webkit-animation: k4 300s;
}
#text4 p{
    animation: p10 300s;
    -webkit-animation: p10 300s;
}
#text5{
    left: 10%;
    right: 10%;
    position: absolute;
    top:35% ;
    border: solid deeppink;
    border-radius: 15px;
    animation: k5 300s;
    -webkit-animation: k5 300s;
}
#text5 p{
    animation: p11 300s;
    -webkit-animation: p11 300s;
}
#text6{
    position: absolute;
    top:66%;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 33%;
    border: solid deeppink;
    border-radius:15px ;
    animation: k4 300s;
    -webkit-animation: k4 300s;
}
#text6 p{
    animation: p10 300s;
    -webkit-animation: p10 300s;
}
#three #text7 p{
    opacity: 0;
    animation: p12 300s linear;
    -webkit-animation: p12 300s linear;
}
#four #text8 {
    z-index: 2;
    align-items: center;
    width:100%;
    height: 100%;
    position: absolute;
    top: -102%;
    opacity: 1;
    animation: sixth_textbox8 300s linear  ;
    -webkit-animation: sixth_textbox8 300s linear  ;
}
#text8 p{
    align-items: center;
    display:block;
    font-size: 2.5em;
}
#last{
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: large;
    animation: aaa 300s linear ;
    -webkit-animation: aaa 300s linear;

}

@keyframes p1 {
  0%{opacity: 0}
    2%{
        opacity: 0;
    }
    8.4%{
        opacity: 0;
    }
    9.1%{
        opacity: 1;
    }
    9.8%{
        opacity: 1;
    }
    10.5%{
        opacity: 1;
    }

    11.2%{
        opacity: 1;
    }
    11.9%
    {
        opacity: 1;
    }
    13.3%{
        opacity: 0;
    }
}
@-moz-keyframes p1 {
    0% {
        opacity: 0
    }
    2%{
        opacity: 0;
    }
    8.4%{
        opacity: 0;
    }
    9.1%{
        opacity: 1;
    }
    9.8%{
        opacity: 1;
    }
    10.5%{
        opacity: 1;
    }
    11.2%{
        opacity: 1;
    }
    11.9%
    {
        opacity: 1;
    }
    13.3%{
        opacity: 0;
    }
}
@keyframes p2 {
    0%{opacity: 0}
    2%{
        opacity: 0;
    }
    8.4%{
        opacity: 0;
    }
    9.1%{
        opacity: 0;
    }
    9.8%{
        opacity: 1;
    }
    10.5%{
        opacity: 1;
    }
    11.2%{
        opacity: 1;
    }
    11.9%
    {
        opacity: 1;
    }
    13.3%{
        opacity: 0;
    }
}
@-moz-keyframes p2 {
    0% {
        opacity: 0
    }
    2%{
        opacity: 0;
    }
    8.4%{
        opacity: 0;
    }
    9.1%{
        opacity: 0;
    }
    9.8%{
        opacity: 1;
    }
    10.5%{
        opacity: 1;
    }
    11.2%{
        opacity: 1;
    }    11.9%
         {
             opacity: 1;
         }

    13.3%{
        opacity: 0;
    }
}@keyframes p3 {
     0%{opacity: 0}
     2%{
         opacity: 0;
     }
     8.4%{
         opacity: 0;
     }
     9.1%{
         opacity: 0;
     }
    9.8%{
        opacity: 0;
    }
    10.5%{
        opacity: 1;
    }
     11.2%{
         opacity: 1;
     }
     11.9%
     {
         opacity: 1;
     }
     13.3%{
         opacity: 0;
     }
 }
@-moz-keyframes p3 {
    0% {
        opacity: 0
    }
    2%{
        opacity: 0;
    }
    8.4%{
        opacity: 0;
    }
    9.1%{
        opacity: 0;
    }
    9.8%{
        opacity: 0;
    }
    10.5%{
        opacity: 1;
    }
    11.2%{
        opacity: 1;
    }
    11.9%
    {
        opacity: 1;
    }
    13.3%{
        opacity: 0;
    }
}@keyframes p4 {
     0%{opacity: 0}
     2%{
         opacity: 0;
     }
     8.4%{
         opacity: 0;
     }
     9.1%{
         opacity: 0;
     }
    9.8%{
        opacity: 0;
    }
    10.5%{
        opacity: 0;
    }
    11.2%{
        opacity: 1;
    }
     11.9%
     {
         opacity: 1;
     }
     13.3%{
         opacity: 0;
     }
 }
@-moz-keyframes p4 {
    0% {
        opacity: 0
    }
    2%{
        opacity: 0;
    }
    8.4%{
        opacity: 0;
    }
    9.1%{
        opacity: 0;
    }
    9.8%{
        opacity: 0;
    }
    10.5%{
        opacity: 0;
    }
    11.2%{
        opacity: 1;
    }    11.9%
         {
             opacity: 1;
         }

    13.3%{
        opacity: 0;
    }
}@keyframes p5 {
     0%{opacity: 0}
     2%{
         opacity: 0;
     }
     8.4%{
         opacity: 0;
     }
     9.1%{
         opacity: 0;
     }
    9.8%{
        opacity: 0;
    }
    10.5%{
        opacity: 0;
    }
    11.2%{
       opacity: 0;
      }
    11.9%
    {
        opacity: 1;
    }
     13.3%{
         opacity: 0;
     }
 }
@-moz-keyframes p5 {
    0%{opacity: 0}
    2%{
        opacity: 0;
    }
    8.4%{
        opacity: 0;
    }
    9.1%{
        opacity: 0;
    }
    9.8%{
        opacity: 0;
    }
    10.5%{
        opacity: 0;
    }
    11.2%{
        opacity: 0;
    }
    11.9%
    {
        opacity: 1;
    }
    13.3%{
        opacity: 0;
    }
 }
@keyframes p6 {
    0%{
        opacity: 0
    }
    2%{
        opacity: 0;
    }
    8.4%{
        opacity: 0;
    }
    9.1%{
        opacity: 0;
    }
    9.8%{
        opacity: 0;
    }
    10.5%{
        opacity: 0;
    }
    11.2%{
        opacity: 0;
    }
    11.9%
    {
        opacity: 0;
    }

    12.6%{
        opacity: 1;
    }
    13.3%{
        opacity: 0;
    }
}@keyframes p7 {
     0%{
         opacity: 0
     }
     2%{
         opacity: 0;
     }
     8.4%{
         opacity: 0;
     }
     9.1%{
         opacity: 0;
     }
     9.8%{
         opacity: 0;
     }
     10.5%{
         opacity: 0;
     }
     11.2%{
         opacity: 0;
     }
     11.9%
     {
         opacity: 0;
     }

     12.6%{
         opacity: 0;
     }
     12.9%{
         opacity: 1;
     }
     13.3%{
         opacity: 0;
     }

}
@-moz-keyframes p6 {
    0%{
        opacity: 0
    }
    2%{
        opacity: 0;
    }
    8.4%{
        opacity: 0;
    }
    9.1%{
        opacity: 0;
    }
    9.8%{
        opacity: 0;
    }
    10.5%{
        opacity: 0;
    }
    11.2%{
        opacity: 0;
    }
    11.9%
    {
        opacity: 0;
    }

    12.6%{
        opacity: 1;
    }
    13.3%{
        opacity: 0;
    }
}@keyframes p7 {
     0%{opacity: 0}
     2%{
         opacity: 0;
     }
     8.4%{
         opacity: 0;
     }
     9.1%{
         opacity: 0;
     }
     9.8%{
         opacity: 0;
     }
     10.5%{
         opacity: 0;
     }
     11.2%{
         opacity: 0;
     }
     11.9%
     {
         opacity: 0;
     }

     12.6%{
         opacity: 0;
     }
    12.9%{
        opacity: 1;
    }
     13.3%{
         opacity: 0;
     }
 }
@-moz-keyframes p7 {
    0%{opacity: 0}
    2%{
        opacity: 0;
    }
    8.4%{
        opacity: 0;
    }
    9.1%{
        opacity: 0;
    }
    9.8%{
        opacity: 0;
    }
    10.5%{
        opacity: 0;
    }
    11.2%{
        opacity: 0;
    }
    11.9%
    {
        opacity: 0;
    }

    12.6%{
        opacity: 0;
    }
    12.9%{
        opacity: 1;
    }
    13.3%{
        opacity: 0;
    }
}
@keyframes p8 {
    0%{
        opacity: 0;
    }
    18.3%{
        opacity: 0;
    }
    21.3%{
        opacity: 1;
    }
    22.4%{
        opacity: 0;
    }

}
@-moz-keyframes p8 {
    0%{
        opacity: 0;
    }
    18.3%{
        opacity: 0;
    }
    21.3%{
        opacity: 1;
    }
    22.4%{
        opacity: 0;
    }


}
@keyframes p9 {
    25.4%{
        opacity: 0;
    }
    28.4%{
        opacity: 1;
    }
    29.5%{
        opacity: 0;
    }

}
@-moz-keyframes p9 {
    25.4%{
        opacity: 0;
    }
    28.4%{
        opacity: 1;
    }
    29.5%{
        opacity: 0;
    }
}
@keyframes p10 {
    0%{opacity: 0}
    31%{
        opacity: 1;
    }
    41%{
        opacity: 1;
    }
    41.1%{
        opacity: 0;
    }

}
@-webkit-keyframes p10 {
    0%{opacity: 0}
    31%{
        opacity: 1;
    }
    41%{
        opacity: 1;
    }
    41.1%{
        opacity: 0;
    }
}
@keyframes p11 {
    0%{
        opacity: 0;
    }
    33.1%{
        opacity: 0;
    }
    34.1%{
        opacity: 1;
    }
    41%{
        opacity: 1;
    }
    41.1%{
        opacity: 0;
    }
}
@-webkit-keyframes p11 {
    0%{
        opacity: 0;
    }
    33.1%{
        opacity: 0;
    }
    34.1%{
        opacity: 1;
    }
    41%{
        opacity: 1;
    }
    41.1%{
        opacity: 0;
    }
}
@keyframes p12 {
    0%{
        opacity: 0;
    }
    43.1%{
        opacity: 0;
    }
    45%{
        opacity: 1;
    }
    47%{
        opacity: 1;
    }
    49%{
        opacity: 0;
    }

}
@-webkit-keyframes p12 {
    0%{
        opacity: 0;
    }
    43.1%{
        opacity: 0;
    }
    45%{
        opacity: 1;
    }
    47%{
        opacity: 1;
    }
    49%{
        opacity: 0;
    }
}
@keyframes firstball {
    0%{
        left:20%;
        top:0;
        opacity: 0;
    }
    2%{
        left:20%;
        top:0;
        opacity: 0;
    }
    2.4%{
        left: 20%;
        top:5%;
        opacity: 1;
    }
    15.3%{
        left: 20%;
        top:5%;
        opacity: 1;
    }
    16.3%{
        left: 20%;
        top:15%;
        opacity: 1;
    }
    23.4%{
        left: 20%;
        top:15%;
        opacity: 1;
    }
    24.4%{
        left: 20%;
        top: 25%;
        opacity: 1;
    }
    30.5%{
        left: 20%;
        top: 25%;
        opacity: 1;
    }
    31%{
        left: 20%;
        top: -20px;
        opacity: 0;
    }
}
@-webkit-keyframes firstball{
    0%{
        left:20%;
        top:0;
        opacity: 0;
    }
    2%{
        left:20%;
        top:0;
        opacity: 0;
    }
    2.4%{
        left: 20%;
        top:5%;
        opacity: 1;
    }
    15.3%{
        left: 20%;
        top:5%;
        opacity: 1;
    }
    16.3%{
        left: 20%;
        top:15%;
        opacity: 1;
    }
    23.4%{
        left: 20%;
        top:15%;
        opacity: 1;
    }
    24.4%{
        left: 20%;
        top: 25%;
        opacity: 1;
    }
    30.5%{
        left: 20%;
        top: 25%;
        opacity: 1;
    }
    31%{
        left: 20%;
        top: -20px;
        opacity: 0;
    }
}
@keyframes firstnav {
    0%{
        left: 20%;
        top:0;
        height: 0;
        width:10px;
    }
    2%{
             left: 20%;
             top:0;
             height: 0;
             width:10px;
     }
    2.4%{
        left:20%;
        top:0;
        height:100%;
        width: 10px;
    }

    23.4%{
        left:20%;
        top:0;
        height:100%;
        width: 10px;
    }
    30.5%{
        left:20%;
        top:0;
        height:100%;
        width: 10px;
        opacity: 1;
    }
    31%{
        left:20%;
        top: -20px;
        height: 0;
        width: 20px;
     opacity: 0;
    }

}
@-webkit-keyframes firstnav{
    0%{
        left: 20%;
        top:0;
        height: 0;
        width:10px;
    }
   2%{
        left: 20%;
        top:0;
        height: 0;
        width:10px;
    }
    2.4%{
        left:20%;
        top:0;
        height:100%;
        width: 10px;
    }

    23.4%{
        left:20%;
        top:0;
        height:100%;
        width: 10px;
    }
    30.5%{
        left:20%;
        top:0;
        height:100%;
        width: 10px;
        opacity: 1;
    }
    31%{
        left:20%;
        top: -20px;
        height: 0;
        width: 20px;
        opacity: 0;

    }

}

@keyframes threeball {
    0%{
        transform:rotate(0deg);
        top:0;
        opacity: 0;
        left: 50%;
    }
    49%{
        opacity: 0;
    }
    49.3%{
        transform:rotate(0deg);
        top:0;
        opacity: 1;
        left: 50%;
    }
    50%{
        transform:rotate(3600deg);
        top: 50%;
        opacity: 1;
        left: 50%;
        width: 20px;
        height: 20px;
    }
    51%{
        transform: rotate(0deg);
        top: 0;
        opacity: 1;
        left: 0;
        width: 20px;
        height: 20px;
    }
    52%{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    65%{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    65.1%{
        transform: rotate(0deg);
        top: 0;
        opacity: 1;
        left: 0;
        width: 20px;
        height: 20px;
    }
    66%{
        transform:rotate(3600deg);
        top: 50%;
        opacity: 1;
        left: 50%;
        width: 20px;
        height: 20px;
    }
    67%{
        transform: rotate(0deg);
        top: 50%;
        opacity: 1;
        left: 50%;
        width: 20px;
        height: 20px;
    }
    67.2%{
        opacity: 0;
    }
}
@-webkit-keyframes threeball {
    0%{
        transform:rotate(0deg);
        top:0;
        opacity: 0;
        left: 50%;
    }
    49%{
        opacity: 0;
    }
    49.3%{
        transform:rotate(0deg);
        top:0;
        opacity: 1;
        left: 50%;
    }
    50%{
        transform:rotate(3600deg);
        top: 50%;
        opacity: 1;
        left: 50%;
        width: 20px;
        height: 20px;
    }
    51%{
        transform: rotate(0deg);
        top: 0;
        opacity: 1;
        left: 0;
        width: 20px;
        height: 20px;
    }
    52%{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    65%{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    65.1%{
        transform: rotate(0deg);
        top: 0;
        opacity: 1;
        left: 0;
        width: 20px;
        height: 20px;
    }
    66%{
        transform:rotate(3600deg);
        top: 50%;
        opacity: 1;
        left: 50%;
        width: 20px;
        height: 20px;
    }
    67%{
        transform: rotate(0deg);
        top: 50%;
        opacity: 1;
        left: 50%;
        width: 20px;
        height: 20px;
    }
    67.2%{
        opacity: 0;
    }
}
@keyframes k1 {
    0%{
        width: 0;
        height: 0;
    }
    2.3%{
        width: 0;
        height: 0;
        opacity: 0;
    }
    2.4%{
        width: 0;
        height: 0;
        opacity: 1;
    }
    5.4%{
        width: 50%;
        height: 0;
        opacity: 1;
    }
    8.4%{
        width: 50%;
        height:50%;
        opacity: 1;
    }
    13.3%{
        width: 50%;
        height:50%;
        opacity: 1;
    }
    14.3%{
        width: 50%;
        height: 0;
        opacity: 1;
    }
    15.3%{
        width: 0;
        height: 0;
    }
    15.4%{
        opacity: 0;
    }

}
@-webkit-keyframes k1 {
    0%{
        width: 0;
        height: 0;
    }
    2.3%{
        width: 0;
        height: 0;
        opacity: 0;
    }
    2.4%{
        width: 0;
        height: 0;
        opacity: 1;
    }
    5.4%{
        width: 50%;
        height: 0;
        opacity: 1;
    }
    8.4%{
        width: 50%;
        height:50%;
        opacity: 1;
    }
    13.3%{
        width: 50%;
        height:50%;
        opacity: 1;
    }
    14.3%{
        width: 50%;
        height: 0;
        opacity: 1;
    }
    15.3%{
        width: 0;
        height: 0;
    }
    15.4%{
        opacity: 0;
    }
}
@keyframes k2 {
    16.2%{
        opacity: 0;
    }
    16.3%{
        height: 0;
        width: 0;
        opacity: 1;
    }
    18.3%{
        height: 55%;
        width:45%;
        opacity: 1;
    }
    22.4%{
        height: 55%;
        width: 45%;
        opacity: 1;
    }
    23.4%{
        height: 0;
        width: 0;
        opacity: 0;
    }
}
@-moz-keyframes k2 {
    16.2%{
        opacity: 0;
    }
    16.3%{
        height: 0;
        width: 0;
        opacity: 1;
    }
    18.3%{
        height: 55%;
        width: 45%;
        opacity: 1;
    }
    22.4%{
        height: 55%;
        width: 45%;
        opacity: 1;
    }
    23.4%{
        height: 0;
        width: 0;
        opacity: 0;
    }
}
@keyframes k3 {
    24.3%{
        opacity: 0;
    }
    24.4%{
        height: 0;
        width: 0;
        opacity: 1;
    }
    25.4%{
        height:60%;
        width: 50%;
        opacity: 1;

    }
    29.5%{
        height: 60%;
        width: 50%;
        opacity: 1;
    }
    30.5%{
        height: 0;
        width: 0;
        opacity: 0;
    }
}
@-moz-keyframes k3 {
    24.3%{
        opacity: 0;
    }
    24.4%{
        height: 0;
        width: 0;
        opacity: 1;
    }
    25.4%{
        height:60%;
        width: 50%;
        opacity: 1;

    }
    29.5%{
        height: 60%;
        width: 50%;
        opacity: 1;
    }
    30.5%{
        height: 0;
        width: 0;
        opacity: 0;
    }
}
@keyframes k4 {
    0%{
        opacity: 0;
    }
    30.9%{
        opacity: 0;
    }
    31%{
        opacity: 1;
    }
    42.1%{
        opacity: 1;
    }
    43%{
        opacity: 0;
    }

}
@-webkit-keyframes k4 {
    0%{
        opacity: 0;
    }
    30.9%{
        opacity: 0;
    }
    31%{
        opacity: 1;
    }
    42.1%{
        opacity: 1;
    }
    43%{
        opacity: 0;
    }
}
@keyframes k5 {
    32%{
        opacity: 0;
    }
    32.1%{
        top: 35%;
        height: 0;
        width: 0;
        opacity: 1;
    }
    33.1%{
        top: 35%;
        height: 30%;
        width: 80%;
        opacity: 1;
    }
    42.1%{
        opacity: 1;
    }
    43%{
        opacity: 0;
    }

}
@-webkit-keyframes k5 {
    32%{
        opacity: 0;
    }
    32.1%{
        top: 35%;
        height: 0;
        width: 0;
        opacity: 1;
    }
    33.1%{
        top: 35%;
        height: 30%;
        width: 80%;
        opacity: 1;
    }
    42.1%{
        opacity: 1;
    }
    43%{
        opacity: 0;
    }
}
@-webkit-keyframes k6 {
    0%{
        opacity: 0;
    }
    50%{
        width: 0;
        height: 0;
        opacity: 0;
    }
    51%{
        width: 50%;
        height: 50%;
        opacity: 1;
    }
}
@keyframes b1 {
    0%{opacity:0;}
    31%{opacity: 0}
    31.1%{opacity: 1}
    43%{
        opacity: 1;
    }
    43.2%{
        opacity: 0;
    }
}
@-webkit-keyframes b1 {
    0%{opacity:0;}
    31%{opacity: 0}
    31.1%{opacity: 1}
    43%{
        opacity: 1;
    }
    43.2%{
        opacity: 0;
    }
}
@keyframes sixth_textbox8 {
    0%{
        top:100%;
    }
    52%{
        top:100%;
    }
    65%{
        top:-190%;
    }
}
@-webkit-keyframes sixth_textbox8 {
    0%{
        top:100%;
    }
    52%{
        top:100%;
    }
    65%{
        top:-190%;
    }
}
@keyframes aaa {
    0%{
        opacity: 0;
    }
    65.5%{
        opacity: 0;
    }
    66%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }

}
@-webkit-keyframes aaa {
    0%{
        opacity: 0;
    }
    65.5%{
        opacity: 0;
    }
    66%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
