body{
    background:url("背景图4.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
div#leave_word{
    height:100%;
    width:100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
}
.ball{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    left: 20%;
    top: 0px;
    z-index: 1;
    margin-left: -5px;
    opacity: 0;
}
.nav {

    width: 10px;
    height: 0;
    position: absolute;
    background: #ccc;
    left: 20%;
}
.z{
    font-size: large;
    font-family: 楷体;
    align-items: center;
}
#first .ball {
    animation: firstball 300s linear  ;
    -webkit-animation:firstball 300s linear   ;
}
#first .nav {
    animation: firstnav 300s linear  ;
    -webkit-animation: firstnav 300s linear  ;
}
div#text1{
    position: absolute;
    align-content: center;
    width: 0;
    margin-left: 21%;
    top: 15.5%;
    border-color: #ee9ca7;
    height: 0px;
    border: solid;
    opacity: 0;
    animation: k1 300s;
    -webkit-animation: k1 300s;
}
#text1 p:nth-child(1){
    animation: p1 300s linear;
    -webkit-animation:p1 300s linear;
}
#text1 p:nth-child(2){
    animation: p2 300s linear;
    -webkit-animation:p2 300s linear;
}
#text1 p:nth-child(3){
     animation: p3 300s linear;
     -webkit-animation:p3 300s linear;
 }
#text1 p:nth-child(4){
      animation: p4 300s linear;
      -webkit-animation:p4 300s linear;
  }
#text1 p:nth-child(5){
       animation: p5 300s linear;
       -webkit-animation:p5 300s linear;
   }
#text1 p:nth-child(6){
        animation: p6 300s linear;
        -webkit-animation:p6 300s linear;
    }
#text1 p:nth-child(7){
         animation: p7 300s linear;
         -webkit-animation:p7 300s linear;
     }
#text2{
    position: absolute;
    align-content: center;
    width: 0;
    margin-left: 21%;
    top: 35.5%;
    border-color: #ee9ca7;
    height: 0px;
    border: solid;
    opacity: 0;
    animation: k2 300s;
    -webkit-animation: k2 300s;
}
#text2 p{
    opacity: 0;
    aninmation: p8 300s linear;
    -webkit-animation: p8 300s linear;
}
#text3{
    position: absolute;
    align-content: center;
    width: 0;
    margin-left: 21%;
    top: 60%;
    border-color: #ee9ca7;
    height: 0px;
    border: solid;
    opacity: 0;
    animation: k3 300s;
    -webkit-animation: k3 300s;
}
#text3 p{
    opacity: 0;
    aninmation: p9 300s linear;
    -webkit-animation: p9 300s linear;
}
@keyframes p1 {
  0%{opacity: 0}
    2%{
        opacity: 0;
    }
    8.4%{
        opacity: 0;
    }
    9.1%{
        opacity: 1;
    }
    9.8%{
        opacity: 1;
    }
    10.5%{
        opacity: 1;
    }

    11.2%{
        opacity: 1;
    }
    11.9%
    {
        opacity: 1;
    }
    13.3%{
        opacity: 0;
    }
}
@-moz-keyframes p1 {
    0% {
        opacity: 0
    }
    2%{
        opacity: 0;
    }
    8.4%{
        opacity: 0;
    }
    9.1%{
        opacity: 1;
    }
    9.8%{
        opacity: 1;
    }
    10.5%{
        opacity: 1;
    }
    11.2%{
        opacity: 1;
    }
    11.9%
    {
        opacity: 1;
    }
    13.3%{
        opacity: 0;
    }
}
@keyframes p2 {
    0%{opacity: 0}
    2%{
        opacity: 0;
    }
    8.4%{
        opacity: 0;
    }
    9.1%{
        opacity: 0;
    }
    9.8%{
        opacity: 1;
    }
    10.5%{
        opacity: 1;
    }
    11.2%{
        opacity: 1;
    }
    11.9%
    {
        opacity: 1;
    }
    13.3%{
        opacity: 0;
    }
}
@-moz-keyframes p2 {
    0% {
        opacity: 0
    }
    2%{
        opacity: 0;
    }
    8.4%{
        opacity: 0;
    }
    9.1%{
        opacity: 0;
    }
    9.8%{
        opacity: 1;
    }
    10.5%{
        opacity: 1;
    }
    11.2%{
        opacity: 1;
    }    11.9%
         {
             opacity: 1;
         }

    13.3%{
        opacity: 0;
    }
}@keyframes p3 {
     0%{opacity: 0}
     2%{
         opacity: 0;
     }
     8.4%{
         opacity: 0;
     }
     9.1%{
         opacity: 0;
     }
    9.8%{
        opacity: 0;
    }
    10.5%{
        opacity: 1;
    }
     11.2%{
         opacity: 1;
     }
     11.9%
     {
         opacity: 1;
     }
     13.3%{
         opacity: 0;
     }
 }
@-moz-keyframes p3 {
    0% {
        opacity: 0
    }
    2%{
        opacity: 0;
    }
    8.4%{
        opacity: 0;
    }
    9.1%{
        opacity: 0;
    }
    9.8%{
        opacity: 0;
    }
    10.5%{
        opacity: 1;
    }
    11.2%{
        opacity: 1;
    }
    11.9%
    {
        opacity: 1;
    }
    13.3%{
        opacity: 0;
    }
}@keyframes p4 {
     0%{opacity: 0}
     2%{
         opacity: 0;
     }
     8.4%{
         opacity: 0;
     }
     9.1%{
         opacity: 0;
     }
    9.8%{
        opacity: 0;
    }
    10.5%{
        opacity: 0;
    }
    11.2%{
        opacity: 1;
    }
     11.9%
     {
         opacity: 1;
     }
     13.3%{
         opacity: 0;
     }
 }
@-moz-keyframes p4 {
    0% {
        opacity: 0
    }
    2%{
        opacity: 0;
    }
    8.4%{
        opacity: 0;
    }
    9.1%{
        opacity: 0;
    }
    9.8%{
        opacity: 0;
    }
    10.5%{
        opacity: 0;
    }
    11.2%{
        opacity: 1;
    }    11.9%
         {
             opacity: 1;
         }

    13.3%{
        opacity: 0;
    }
}@keyframes p5 {
     0%{opacity: 0}
     2%{
         opacity: 0;
     }
     8.4%{
         opacity: 0;
     }
     9.1%{
         opacity: 0;
     }
    9.8%{
        opacity: 0;
    }
    10.5%{
        opacity: 0;
    }
    11.2%{
       opacity: 0;
      }
    11.9%
    {
        opacity: 1;
    }
     13.3%{
         opacity: 0;
     }
 }
@-moz-keyframes p5 {
    0%{opacity: 0}
    2%{
        opacity: 0;
    }
    8.4%{
        opacity: 0;
    }
    9.1%{
        opacity: 0;
    }
    9.8%{
        opacity: 0;
    }
    10.5%{
        opacity: 0;
    }
    11.2%{
        opacity: 0;
    }
    11.9%
    {
        opacity: 1;
    }
    13.3%{
        opacity: 0;
    }
 }
@keyframes p6 {
    0%{
        opacity: 0
    }
    2%{
        opacity: 0;
    }
    8.4%{
        opacity: 0;
    }
    9.1%{
        opacity: 0;
    }
    9.8%{
        opacity: 0;
    }
    10.5%{
        opacity: 0;
    }
    11.2%{
        opacity: 0;
    }
    11.9%
    {
        opacity: 0;
    }

    12.6%{
        opacity: 1;
    }
    13.3%{
        opacity: 0;
    }
}@keyframes p7 {
     0%{
         opacity: 0
     }
     2%{
         opacity: 0;
     }
     8.4%{
         opacity: 0;
     }
     9.1%{
         opacity: 0;
     }
     9.8%{
         opacity: 0;
     }
     10.5%{
         opacity: 0;
     }
     11.2%{
         opacity: 0;
     }
     11.9%
     {
         opacity: 0;
     }

     12.6%{
         opacity: 0;
     }
     12.9%{
         opacity: 1;
     }
     13.3%{
         opacity: 0;
     }

}
@-moz-keyframes p6 {
    0%{
        opacity: 0
    }
    2%{
        opacity: 0;
    }
    8.4%{
        opacity: 0;
    }
    9.1%{
        opacity: 0;
    }
    9.8%{
        opacity: 0;
    }
    10.5%{
        opacity: 0;
    }
    11.2%{
        opacity: 0;
    }
    11.9%
    {
        opacity: 0;
    }

    12.6%{
        opacity: 1;
    }
    13.3%{
        opacity: 0;
    }
}@keyframes p7 {
     0%{opacity: 0}
     2%{
         opacity: 0;
     }
     8.4%{
         opacity: 0;
     }
     9.1%{
         opacity: 0;
     }
     9.8%{
         opacity: 0;
     }
     10.5%{
         opacity: 0;
     }
     11.2%{
         opacity: 0;
     }
     11.9%
     {
         opacity: 0;
     }

     12.6%{
         opacity: 0;
     }
    12.9%{
        opacity: 1;
    }
     13.3%{
         opacity: 0;
     }
 }
@-moz-keyframes p7 {
    0%{opacity: 0}
    2%{
        opacity: 0;
    }
    8.4%{
        opacity: 0;
    }
    9.1%{
        opacity: 0;
    }
    9.8%{
        opacity: 0;
    }
    10.5%{
        opacity: 0;
    }
    11.2%{
        opacity: 0;
    }
    11.9%
    {
        opacity: 0;
    }

    12.6%{
        opacity: 0;
    }
    12.9%{
        opacity: 1;
    }
    13.3%{
        opacity: 0;
    }
}
@keyframes p8 {
    0%{
        opacity: 0;
    }
    18.3%{
        opacity: 0;
    }
    21.3%{
        opacity: 1;
    }
    22.4%{
        opacity: 0;
    }

}
@-moz-keyframes p8 {
    0%{
        opacity: 0;
    }
    18.3%{
        opacity: 0;
    }
    21.3%{
        opacity: 1;
    }
    22.4%{
        opacity: 0;
    }


}
@keyframes p9 {
    25.4%{
        opacity: 0;
    }
    28.4%{
        opacity: 1;
    }
    29.5%{
        opacity: 0;
    }

}
@-moz-keyframes p9 {
    25.4%{
        opacity: 0;
    }
    28.4%{
        opacity: 1;
    }
    29.5%{
        opacity: 0;
    }
}
@keyframes firstball {
    0%{
        left:20%;
        top:0;
        opacity: 0;
    }
    2%{
        left:20%;
        top:0;
        opacity: 0;
    }
    2.4%{
        left: 20%;
        top:15.5%;
        opacity: 1;
    }
    15.3%{
        left: 20%;
        top:15.5%;
        opacity: 1;
    }
    16.3%{
        left: 20%;
        top:35.5%;
        opacity: 1;
    }
    23.4%{
        left: 20%;
        top:35.5%;
        opacity: 1;
    }
    24.4%{
        left: 20%;
        top: 60%;
        opacity: 1;
    }
}
@-webkit-keyframes firstball{
    0%{
        left:20%;
        top:0;
    }
    2%{
        left:20%;
        top:0;
        opacity: 0;
    }

    2.4%{
        left: 20%;
        top:25.5%;
        opacity: 1;
    }
    15.3%{
        left: 20%;
        top:15.5%;
        opacity: 1;
    }
    16.3%{
        left: 20%;
        top:35.5%;
        opacity: 1;
    }
    23.4%{
        left: 20%;
        top:35.5%;
        opacity: 1;
    }
    24.4%{
        left: 20%;
        top: 60%;
        opacity: 1;
    }

}
@keyframes firstnav {
    0%{
        left: 20%;
        top:0;
        height: 0;
        width:10px;
    }
    2%{
             left: 20%;
             top:0;
             height: 0;
             width:10px;
     }
    2.4%{
        left:20%;
        top:0;
        height:100%;
        width: 10px;
    }

    23.4%{
        left:20%;
        top:0;
        height:100%;
        width: 10px;
    }

}
@-webkit-keyframes firstnav{
    0%{
        left: 20%;
        top:0;
        height: 0;
        width:10px;
    }
   2%{
        left: 20%;
        top:0;
        height: 0;
        width:10px;
    }
    2.4%{
        left:20%;
        top:0;
        height:100%;
        width: 10px;
    }

    23.4%{
        left:20%;
        top:0;
        height:100%;
        width: 10px;
    }

}
@keyframes k1 {
    0%{
        width: 0;
        height: 0;
    }
    2.3%{
        width: 0;
        height: 0;
        opacity: 0;
    }
    2.4%{
        width: 0;
        height: 0;
        opacity: 1;
    }
    5.4%{
        width: 50%;
        height: 0;
        opacity: 1;
    }
    8.4%{
        width: 50%;
        height:50%;
        opacity: 1;
    }
    13.3%{
        width: 50%;
        height:50%;
        opacity: 1;
    }
    14.3%{
        width: 50%;
        height: 0;
        opacity: 1;
    }
    15.3%{
        width: 0;
        height: 0;
    }
    15.4%{
        opacity: 0;
    }

}
@-webkit-keyframes k1 {
    0%{
        width: 0;
        height: 0;
    }
    2.3%{
        width: 0;
        height: 0;
        opacity: 0;
    }
    2.4%{
        width: 0;
        height: 0;
        opacity: 1;
    }
    5.4%{
        width: 50%;
        height: 0;
        opacity: 1;
    }
    8.4%{
        width: 50%;
        height:50%;
        opacity: 1;
    }
    13.3%{
        width: 50%;
        height:50%;
        opacity: 1;
    }
    14.3%{
        width: 50%;
        height: 0;
        opacity: 1;
    }
    15.3%{
        width: 0;
        height: 0;
    }
    15.4%{
        opacity: 0;
    }
}
@keyframes k2 {
    16.2%{
        opacity: 0;
    }
    16.3%{
        height: 0;
        width: 0;
        opacity: 1;
    }
    18.3%{
        height: 50%;
        width:50%;
        opacity: 1;
    }
    22.4%{
        height: 50%;
        width: 50%;
        opacity: 1;
    }
    23.4%{
        height: 0;
        width: 0;
        opacity: 0;
    }
}
@-moz-keyframes k2 {
    16.2%{
        opacity: 0;
    }
    16.3%{
        height: 0;
        width: 0;
        opacity: 1;
    }
    18.3%{
        height: 50%;
        width: 50%;
        opacity: 1;
    }
    22.4%{
        height: 50%;
        width: 50%;
        opacity: 1;
    }
    23.4%{
        height: 0;
        width: 0;
        opacity: 0;
    }
}
@keyframes k3 {
    24.3%{
        opacity: 0;
    }
    24.4%{
        height: 0;
        width: 0;
        opacity: 1;
    }
    25.4%{
        height:50%;
        width: 50%;
        opacity: 1;

    }
    29.5%{
        height: 50%;
        width: 50%;
        opacity: 1;
    }
    30.5%{
        height: 0;
        width: 0;
        opacity: 0;
    }
}
@-moz-keyframes k3 {
    24.3%{
        opacity: 0;
    }
    24.4%{
        height: 0;
        width: 0;
        opacity: 1;
    }
    25.4%{
        height:50%;
        width: 50%;
        opacity: 1;

    }
    29.5%{
        height: 50%;
        width: 50%;
        opacity: 1;
    }
    30.5%{
        height: 0;
        width: 0;
        opacity: 0;
    }
}