body{
    margin: 0;
    padding: 0;
}
div#new{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("背景图7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.z{
    font-size: 2.4em;
    font-family: 楷体;
    text-align: center;
}
#new2{
    position: absolute;
    left: 20%;
    top:30%;
    width: 60%;
}