
body{
    text-align: center;
    background-size:100% 100%;background: #ee9ca7;
}
p{
    text-align: center;
    -webkit-text-stroke: 2px white;
    position: relative;
    text-transform: uppercase;
    color: #252527;
    font-size: 10vw;
    letter-spacing: 0.6vw;
    font-weight: 70;
    font-family:"楷体";
}
#sss {
    color:red;
    opacity: 0;
}
form input {
     border:1px solid rgba(255,255,255,0.4);
     width:210px;
     border-radius:3px;
     padding: 10px 15px;
     margin:10px auto;
     text-align: center;
     font-size: 18px;
     font-weight: 300;
     z-index: 100;
     transition-duration: 0.25s;
     -webkit-transition-duration: 0.25s;
 }